fastapi
uvicorn[standard]
websockets
python-multipart
edge-tts
SpeechRecognition
python-dotenv
groq
langchain-google-genai
langgraph
langchain-core
langchain-community
duckduckgo-search
pyautogui
pywin32
psutil
pillow
mistralai
langchain-mistralai
